<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width:80%; height:100%">
        {{graph|safe}}
    </div>
    <div class="content">
        <div align="center" class="stockDiv">
            <form action="result2/" method="POST">{% csrf_token %}
                <div class="input-group">
                    <input id="stockNames" name="stockName"
                    type="text" class="form-control"
                    placeholder="주식 종목을 입력하세요">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                        입력</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

</body>
</html>